---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

/* Custom CSS overrides */
html {
  font-size: 14px;
}

.masthead .site-title {
  font-size: 1.5rem !important;
}

.site-title {
  font-size: 1.5rem !important;
}

.author__content, .author__bio, .author__urls {
  font-size: 14px !important;
}
